body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #6396FF;
    outline: none;
}
.container{
    padding: 9vh 5vw 0 5vw;
    width: calc(100vw - 10vw);
}
#canvas{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}


.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 58vh;
    width: 100%;
    @media only screen and (max-device-width: 1024px) {
        height: 650px;
    }
    @media only screen and (max-device-width: 768px) {
        height: 500px;
    }
    @media only screen and (max-device-width: 750px) {
        height: 55vh;
    }
    .aboutMe{
        font-family: DM Mono;
        font-weight: 400;
        //font-size: 3rem;
        //font-size: clamp(1rem, calc(1rem + 2vw), 3rem); 
        font-size: calc(1rem + 2vw);
        color: #FFFFFF;
        max-width: 1000px;
        min-width: 250px;
    }
}

div.burgerLevels.burgerLevels{
    background-color: #FFF;
    margin: 3px;
    width: 70px;
    height: 11px;
    border-radius: 19.5px;
    transition: 250ms ease-in-out;
    z-index: 2;
    cursor: pointer;
    &:hover{

    }
}
.menu{
    position: relative;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    .burgerUp.burgerLevels{
        transition: background-color 100ms ease-in-out;
        &:hover{
            background-color: #2E00EA;
        }
    }
    .burgerMid.burgerLevels{
        width: 52.5px;
        transition: background-color 100ms ease-in-out;
        &:hover{
            background-color: #FEED00;
        }
    }
    .burgerDown.burgerLevels{
        width: 35px;
        transition: background-color 100ms ease-in-out;
        &:hover{
            background-color: #FF0000;
        }
    }
    .blogGate{
        background-color: #FFF;
        width: 17.5px;
        height: 17.5px;
        border-radius: 19.5px;
        transition: 250ms ease-in-out;
        z-index: 2;
        cursor: pointer;
        transition: background-color 100ms ease-in-out;
        &:hover{
            background-color: rgba(255, 255, 255, 0.65);
        }
    }
}
// On-Off btn
$toggle-background-color-on: rgba(255, 255, 255, 0.65);
$toggle-background-color-off: transparent;
$toggle-control-color: white;
$toggle-width: 100px;
$toggle-height: 50px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
  display: block;
  position: relative;
  padding-left: $toggle-width;
  margin-bottom: 60px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .control {
    background-color: $toggle-background-color-on;
    
    &:after {
      left: $toggle-width - $toggle-control-size - $toggle-gutter;
    }
  }

  .control {
    position: absolute;
    top: 0;
    left: 0;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: $toggle-radius;
    background-color: $toggle-background-color-off;
    transition: background-color $toggle-control-speed $toggle-control-ease;
    border: 2px solid #FFF;

    &:after {
      content: "";
      position: absolute;
      left: $toggle-gutter;
      top: $toggle-gutter;
      width: $toggle-control-size;
      height: $toggle-control-size;
      border-radius: $toggle-radius;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }
}

