body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #6396ff;
  outline: none;
}

.container {
  z-index: 5;
  padding: 9vh 5vw 0 5vw;
  width: calc(100vw - 10vw);
  position: relative;
  background: top 40% left 20% no-repeat url(../img/nuage.png), top 70% right 70% no-repeat url(../img/nuage.png);
  background-size: 20%;
}

.container img {
  width: 300px;
  height: 300px;
  z-index: 999;
}

#canvas {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  border-bottom: 200px groove #9cdaf0;
}

.headerContainer {
  height: 100vh;
}

.headerContainer a {
  position: absolute;
  top: calc(100vh - 84px);
  left: 70vw;
}

.headerContainer a img {
  display: none;
  height: 100px;
  width: 120px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 58vh;
  width: 100%;
}

@media only screen and (max-device-width: 1024px) {
  .header {
    height: 650px;
  }
}

@media only screen and (max-device-width: 768px) {
  .header {
    height: 500px;
  }
}

@media only screen and (max-device-width: 750px) {
  .header {
    height: 55vh;
  }
}

.header .aboutMe {
  font-family: DM Mono;
  font-weight: 400;
  font-size: calc(1rem + 2vw);
  color: #ffffff;
  max-width: 1000px;
  min-width: 250px;
}

div.burgerLevels {
  background-color: #fff;
  margin: 3px;
  width: 70px;
  height: 11px;
  border-radius: 19.5px;
  z-index: 2;
  cursor: pointer;
}

.burger {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.burger .burgerUp.burgerLevels {
  -webkit-animation: blueFlash 1.4s linear infinite;
          animation: blueFlash 1.4s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.burger .burgerMid.burgerLevels {
  width: 52.5px;
  -webkit-animation: blueFlash 1.4s linear infinite;
          animation: blueFlash 1.4s linear infinite;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.burger .burgerDown.burgerLevels {
  width: 35px;
  -webkit-animation: blueFlash 1.4s linear infinite;
          animation: blueFlash 1.4s linear infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.burger .dot {
  background-color: #fff;
  width: 17.5px;
  height: 17.5px;
  border-radius: 19.5px;
  z-index: 2;
  -webkit-animation: blueFlash 1.4s linear infinite;
          animation: blueFlash 1.4s linear infinite;
  -webkit-animation-delay: 1.9;
          animation-delay: 1.9;
  cursor: pointer;
}

.projectsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200%;
}

.projectsSection .titleSectionPersonnalProject {
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 37px;
  padding-left: 13vw;
  padding-bottom: 10%;
  -webkit-transform: rotateY(25deg) rotateX(25deg);
          transform: rotateY(25deg) rotateX(25deg);
}

.projectsSection .projects {
  background: top 30% left 20% no-repeat url(../img/nuage.png), top 80% right 70% no-repeat url(../img/nuage.png);
  background-size: 20%;
  padding-right: 8vw;
  padding-left: 8vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (calc(20px + 2vw))[21];
      grid-template-columns: repeat(21, calc(20px + 2vw));
  -ms-grid-rows: (calc(20px + 2vw))[28];
      grid-template-rows: repeat(28, calc(20px + 2vw));
      grid-template-areas: ". A A A A A A . . . . . . . . . . . . . ." ". A A A A A A . . . . . . . . . . . . . ." ". A A A A A A . . . . . . . . . . . . . ." ". A A A A A A . . . . . . . . . . . . . ." ". A A A A A A . . . . . . . . . . . . . ." ". A A A A A A . . . . . . B B B B B B B B" ". . . . . . . . . . . . . B B B B B B B B" ". . . . . . . . . . . . . B B B B B B B B" ". . . . . . . . . . . . . B B B B B B B B" ". . . . . . . . . . . . . B B B B B B B B" "C C C C C C C C C C . . . B B B B B B B B" "C C C C C C C C C C . . . B B B B B B B B" "C C C C C C C C C C . . . B B B B B B B B" "C C C C C C C C C C . . . . . . . . . . ." "C C C C C C C C C C . . . . . . . . . . ." "C C C C C C C C C C . . . . . . . . . . ." "C C C C C C C C C C . . . . . . . . . . ." "C C C C C C C C C C . . . . . . . . . . ." "C C C C C C C C C C . . . . . . . . . . ." "C C C C C C C C C C . . . . D D D D D D ." ". . . . . . . . . . . . . . D D D D D D ." ". . . . . . . . . . . . . . D D D D D D ." ". . . . . . . . . . . . . . D D D D D D ." ". . . . . . . . . . . . . . D D D D D D ." ". . . . . . . . . . . . . . D D D D D D ." ". . . . . . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . . . . . .";
}

.projectsSection .projects img {
  width: 300px;
  height: 300px;
  z-index: 999;
}

@media only screen and (max-device-width: 590px) {
  .projectsSection .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.projectsSection .projects .project1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: A;
  background: url(/img/weatherAppGIF.gif);
  cursor: pointer;
}

.projectsSection .projects .project1:hover {
  opacity: 0.5;
}

.projectsSection .projects .project1 .effectProject1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #2e00ea;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.projectsSection .projects .project2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 8;
  -ms-grid-column: 14;
  -ms-grid-column-span: 8;
  grid-area: B;
  background: url(/img/cvGIF.gif);
  background-size: 110% 100%;
  cursor: pointer;
}

.projectsSection .projects .project2:hover {
  opacity: 0.5;
}

.projectsSection .projects .project2 .effectProject2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #feed00;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.projectsSection .projects .project3 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-area: C;
  background: center url(/img/portfolioGIF.gif);
  background-size: 102% 100%;
  cursor: pointer;
}

.projectsSection .projects .project3:hover {
  opacity: 0.5;
}

.projectsSection .projects .project3 .effectProject3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.projectsSection .projects .project4 {
  -ms-grid-row: 20;
  -ms-grid-row-span: 6;
  -ms-grid-column: 15;
  -ms-grid-column-span: 6;
  grid-area: D;
  background: bottom left -240px url(/img/MIGIF.gif);
  cursor: pointer;
}

.projectsSection .projects .project4:hover {
  opacity: 0.5;
}

.projectsSection .projects .project4 .effectProject4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #ff0000;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.projectsSection .projects .project {
  width: 0;
  position: relative;
}

@media only screen and (max-device-width: 590px) {
  .projectsSection .projects .project {
    max-width: calc(200px + 2vw);
    height: calc(200px + 2vw);
    margin: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.lienProject {
  z-index: 99999;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  padding-left: 13vw;
  padding-right: 13vh;
}

.aboutSection .titleSectionAbout {
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 37px;
}

.aboutSection .textAboutMe {
  display: block;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(1rem + 1vw);
  line-height: 33px;
  color: #ffffff;
}

@media only screen and (max-device-width: 760px) {
  .aboutSection {
    padding: 10vh 0 0 0;
  }
}

.wave {
  z-index: 5000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(./../img/wave.png);
  background-size: 1000px 100px;
}

.wave.wave1 {
  -webkit-animation: waveMove 30s linear infinite;
          animation: waveMove 30s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 1;
  bottom: 0;
  z-index: 10;
}

.wave.wave2 {
  -webkit-animation: waveMove2 15s linear infinite;
          animation: waveMove2 15s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  opacity: 0.5;
  bottom: 0;
  z-index: 9;
}

.wave.wave3 {
  -webkit-animation: waveMove 15s linear infinite;
          animation: waveMove 15s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  opacity: 0.2;
  bottom: 15;
  z-index: 8;
}

.wave.wave4 {
  -webkit-animation: waveMove2 5s linear infinite;
          animation: waveMove2 5s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  opacity: 0.7;
  bottom: 20px;
  z-index: 7;
}

@-webkit-keyframes waveMove {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: 1000px;
  }
}

@keyframes waveMove {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: 1000px;
  }
}

@-webkit-keyframes waveMove2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: -1000px;
  }
}

@keyframes waveMove2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: -1000px;
  }
}

.socialMediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.socialMediaContainer img {
  height: calc(35px + 2vw);
  width: calc(35px + 2vw);
  padding: 10px;
}

.socialMedia1 {
  -webkit-animation: floatWater 3s linear infinite;
          animation: floatWater 3s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  z-index: 11;
}

.socialMedia2 {
  -webkit-animation: floatWater 3s linear infinite;
          animation: floatWater 3s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  z-index: 11;
}

.socialMedia3 {
  -webkit-animation: floatWater 3s linear infinite;
          animation: floatWater 3s linear infinite;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  z-index: 11;
}

@-webkit-keyframes floatWater {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes floatWater {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/*# sourceMappingURL=style.css.map */